[Unit]
Description=Fedora KDE Initial User Setup
Documentation=man:fedora-initial-setup(1)
After=default.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/fedora-initial-setup
RemainAfterExit=yes
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=default.target
